@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Poppins;
    src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  }
}

@layer base {
  @font-face {
    font-family: Poppins_Black;
    src: url("/fonts/Poppins/Poppins-Black.ttf") format("truetype");
  }
}

@layer base {
  @font-face {
    font-family: PlayfairDisplay;
    src: url("/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf")
      format("truetype");
  }
}

@layer base {
  @font-face {
    font-family: PlayfairDisplay_Black;
    src: url("/fonts/Playfair_Display/PlayfairDisplay-Black.ttf")
      format("truetype");
  }
}
@layer base {
  @font-face {
    font-family: PlayfairDisplay_Italic;
    src: url("/fonts/Playfair_Display/PlayfairDisplay-Italic.ttf")
      format("truetype");
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add these styles to your global CSS or component-specific CSS file */
:root {
  --transition-duration: 0.5s; /* Adjust the transition duration as needed */
}

*,
body,
html {
  font-family: Poppins;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
  user-select: none;
}

*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  transition: all 400ms ease;
}

/* CustomScrollbar.css */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #718096;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f7fafc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2d3748;
}

/* animations */

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Define utility classes to apply the animations */
.animate-fade-right {
  animation: fade-right 0.4s ease-in;
}

.animate-fade-left {
  animation: fade-left 0.4s ease-in;
}

.animate-fade-up {
  animation: fade-up 0.4s ease-in;
}

.animate-fade-down {
  animation: fade-down 0.4s ease-in;
}

.dark {
  background-color: #18181b;
  color: #fff;
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
}
