@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Poppins;
    src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  }
}

@layer base {
  @font-face {
    font-family: Poppins_Black;
    src: url("/fonts/Poppins/Poppins-Black.ttf") format("truetype");
  }
}

@layer base {
  @font-face {
    font-family: PlayfairDisplay;
    src: url("/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf")
      format("truetype");
  }
}

@layer base {
  @font-face {
    font-family: PlayfairDisplay_Black;
    src: url("/fonts/Playfair_Display/PlayfairDisplay-Black.ttf")
      format("truetype");
  }
}
@layer base {
  @font-face {
    font-family: PlayfairDisplay_Italic;
    src: url("/fonts/Playfair_Display/PlayfairDisplay-Italic.ttf")
      format("truetype");
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add these styles to your global CSS or component-specific CSS file */
:root {
  --transition-duration: 0.5s; /* Adjust the transition duration as needed */
}

*,
body,
html {
  font-family: Poppins;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
  user-select: none;
}

*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  transition: all 400ms ease;
}

/* CustomScrollbar.css */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #718096;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f7fafc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2d3748;
}

/* animations */

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Define utility classes to apply the animations */
.animate-fade-right {
  animation: fade-right 0.8s ease-in;
}

.animate-fade-left {
  animation: fade-left 0.8s ease-in;
}

.animate-fade-up {
  animation: fade-up 0.8s ease-in;
}

.animate-fade-down {
  animation: fade-down 0.8s ease-in;
}

.dark {
  background-color: #18181b;
  color: #fff;
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
}

/* Neumorphism  */

/* Neumorphic Container */
.neumorphic-container {
  background-color: #f0f0f0;
  box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #ffffff;
  border-radius: 20px;
  padding: 20px;
  margin-top: 40px;
}

/* Neumorphic Form */
.neumorphic-form {
  background-color: #f0f0f0;
  box-shadow: inset 6px 6px 12px #d1d1d1, inset -6px -6px 12px #ffffff;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}

/* Neumorphic Input */
.neumorphic-input {
  background-color: #f0f0f0;
  box-shadow: inset 2px 2px 4px #d1d1d1, inset -2px -2px 4px #ffffff;
  border: none;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

/* Neumorphic Button */
.neumorphic-button {
  background-color: #f0f0f0;
  color: #333;
  box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #ffffff;
  border: none;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}

/* Hover Effect for Neumorphic Button */
.neumorphic-button:hover {
  background-color: #d1d1d1;
  color: #fff;
}

/* Neumorphic Heading */
.neumorphic-heading {
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #d1d1d1, -2px -2px 4px #ffffff;
}

/* Neumorphic Text */
.neumorphic-text {
  color: #333;
  text-align: center;
  text-shadow: 1px 1px 2px #d1d1d1, -1px -1px 2px #ffffff;
  margin-bottom: 20px;
}
